.resultsContainer {
  height: 100%; /* fill the parent container height (which is 60vh from contentRow > *) */
  display: flex;
  flex-direction: column;
}

.heading {
  color: var(--text-color);
  margin-bottom: 1rem; /* smaller bottom margin to save space */
  flex-shrink: 0; /* heading won't shrink */
}

.tracksWrapper {
  flex-grow: 1; /* fill remaining vertical space */
  overflow-y: auto;
  padding-right: 8px;
  display: flex;
  flex-direction: column;
}
